<div class = 'container-sm font-monospaced'>
  <h3>create a collection</h3>

  <%= form_with model: @collection do |f| %>
      <li>
          <%= f.text_field :title, placeholder: "title"%>
      </li>
      <li>
          <%= f.text_field :description, placeholder: "what is your collection about"%>
      </li>
      <li>
          <%= f.submit %>
      </li>
  <%end%>
</div>
