<html>
    <h1>
       <%= @collection.title %>
    </h1>
    <h3>
        <%= @collection.description%>
    </h3>
    <br/>
    <%= render partial: 'forum/show' ,
     locals: {forum: @forum}
    %>

</html>