<div class="container-md">
    <h1 class="font-monospace">
       <%= @collection.title %>
    </h1>
    <h3 class="font-monospace">
        <%= @collection.description%>
    </h3>
    <br/>
    <%# <%= render 'forum/show' %> 
</div>

