<div class="container-md">
    <%= button_to 'Add', collection_user_collections_path(@collection), class: 'btn btn-outline-dark', method: :post %>
    <h1 class="font-monospace">
       <%= @collection.title %> 
    </h1> 
    <h3 class="font-monospace">
        <%= @collection.description%>
    </h3>
    <br/>
    <%# <%= render 'forum/show' %> 
</div>
