<div class = 'container-lg'>

  <div class = 'container-md'>
    <%= button_to 'join', user_forums_path, params: {forum_id: @forum}, class: 'btn btn-outline-dark', method: :post %>
  <div class = 'container-sm font-monospaced'>
  </div>

  <div class = 'container-sm font-monospaced'>
      <% if @users %>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
            <% user.sources.each do |source| %> 
              <tr class="table-active">
                <td><%= link_to user.name, user_path(user)%></td>
                <td><%= link_to source.description, source_path(source) %></td>
                <td><%= link_to source.link, source.link %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <p>This forum currently has no members.</p>
    <% end %>
  </div>

</div>
