<div class = 'container-md font-monospace'>
    <h4>sources</h4>
    <div class = 'container-sm'>
        <% @sources.each do |source|%>
            <ul>
                <li>
                    <%= link_to source.description, source_path(source) %>
                    <%= link_to 'Edit', edit_source_path(source),  class: 'btn btn-outline-secondary' %>
                </li>
            </ul>
        <%end%>
    </div>
    <%= link_to 'Create source', new_source_path, class: 'btn btn-outline-secondary' %>
</div>