<div class = 'container-md'>
    <div class = "container-sm">
        <%= link_to "Edit", edit_source_path, class: 'btn btn-outline-secondary ' %>
    </div>
    <div class = "container-sm font-monospace">
        <p> Description: <%= @source.description %>  </p>
        <p>Link: <%=link_to @source.link, @source.link %> </p> 
    </div>
</div>
        