
<div class = "container-sm">
     <%= link_to "Edit", edit_source_path, class: 'btn btn-outline-secondary ' %>
</div>
<div class = "container-sm font-monospace">
    <h3>
        <%= @source.description %>  
    </h3>  
     <a>
        <%= @source.link %> 
     </a>
</div>
    