<div>
    <h4> Are you sure you want to delete the source from this collection? </h4>
    <%= link_to 'X', delete_source_collection_path ,class: 'btn btn-outline-danger', method: :delete %>
    <%= link_to 'Go Back', :back %>
</div>