// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

.navbar-brand {
  max-height: 50px; /* adjust as needed */
}
.navbar-brand img {
  height: 100%;
  width: auto; /* maintain aspect ratio */
}
