// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

.navbar-brand {
  max-height: 50px; /* adjust as needed */
}
.navbar-brand img {
  height: 100%;
  width: auto; /* maintain aspect ratio */
}
.nav_item:hover {
  color: skyblue; 
}
.nav-link-color:active {
  color: blue
}
.outline-primary {
  border: 1px solid darkgrey;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.outline-primary:focus {
  border-color: skyblue;
  box-shadow: 0 0 0 0.2rem rgba(135,206,235,.5);
}
html, body {
  height: 100%;
  margin: 0;
  font-family: century;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container {
  flex-grow: 1;
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: inline-block;
  border: 1px solid #ddd;
  text-decoration: none;
  margin-right: 0.2em;
  color: #333;
}

.pagination .current {
  background: #2e6da4;
  color: #fff;
  border: 1px solid #2e6da4;
}

.pagination a:hover, .pagination a:focus {
  background: #2e6da4;
  color: #fff;
  border: 1px solid #2e6da4;
}

.pagination .disabled {
  color: #aaa;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(206, 205, 206);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  animation: pulse1 2s infinite;
  background-color: blue;
  top: 40%;
  right: 50%;
  background-color: blue;
}
#login-page .circle1 {
  animation: pulse1 2s infinite;
  top: 40%;
  right: 50%;
  background-color: rgb(129, 129, 129);
}
#signup-page .circle1 {
  animation: pulse1 2s infinite;
  top: 40%;
  right: 50%;
  background-color: rgb(187, 0, 255);
}
#new-source .circle1 {
  animation: pulse1 2s infinite;
  top: 40%;
  right: 50%;
  background-color: lightgrey;
}

.circle2 {
  animation: pulse2 3s infinite;
  bottom: 20%;
  right: 80%;
  background-color: green;
}
#login-page .circle2 {
  animation: pulse2 3s infinite;
  bottom: 20%;
  right: 80%;
  background-color: rgb(212, 212, 212);
}
#signup-page .circle2 {
  animation: pulse2 3s infinite;
  bottom: 5%;
  right: 80%;
  background-color: rgb(81, 0, 255);
}
#new-collection .circle2 {
  animation: pulse2 3s infinite;
  bottom: 5%;
  right: 80%;
  background-color: rgb(81, 0, 255);
}
#new-source .circle2 {
  animation: pulse2 3s infinite;
  bottom: 5%;
  right: 80%;
  background-color: white;
}
#profile-card .circle2 {
  transition: 1s;
  animation: pulse5 2s infinite;
  width: 100px;
  height: 100px;
  background-color:blue;
  border-radius: 80%;
  position: absolute;
  left: 49%;
  right: 49%;
}

.circle3 {
  animation: pulse3 3.4s infinite;
  background-color: red;
}
#login-page .circle3 {
  animation: pulse3 3.4s infinite;
  background-color: rgb(248, 248, 252);
}

#new-collection .circle3 {
  animation: pulse3 3.4s infinite;
  background-color: rgb(153, 0, 255);
}
#new-source .circle3 {
  animation: pulse3 3.4s infinite;
  background-color: darkgrey;
}
.circle4 {
  animation: pulse4 2.8s infinite;
  background-color: lightgrey;
}
#new-collection .circle4 {
  animation: pulse4 2.8s infinite;
  background-color: rgb(132, 0, 255);
}
#new-source .circle4 {
  animation: pulse4 2.8s infinite;
  background-color: black;
}

.about_circle {
  transition: 1s;
  animation: pulse5 2s infinite;
  width: 100px;
  height: 100px;
  background-color:rgb(187, 187, 187);
  border-radius: 80%;
  position: absolute;
  left: 49%;
  right: 49%;
}
.about_circle:hover {
  transition: 1s;
  animation: pulse5 2s infinite;
  width: 100px;
  height: 100px;
  background-color:rgb(255, 213, 0);
  border-radius: 40%;
  position: absolute;
  left: 49%;
  right: 49%;
}
.custom-avatar {
  width: 100px;  /* replace with your desired width */
  height: 100px; /* replace with your desired height */
  object-fit: cover; /* this will ensure the image covers the whole area without distortion */
}


@keyframes pulse5 {
  0%, 100% {
    transform: translate(-49%, -49%) scale(.8);
  }
  50% {
    transform: translate(-49%, -49%) scale(1);
  }
}






