<div class="container-fluid">
      <h1 class="display-4">Saperi</h1>
      <p class="lead">(Latin)
            Present passive infinitive of 'sapere': to be known, to be wise.</p>
  <div class="jumbotron jumbotron-sm">
    <%= image_tag("Screenshot----.png", alt: "placeholder") %>
    <div class="container">
    </div>
  </div>
</div>
