
<div class="container-sm">
  <div class="jumbotron text-center">
  <h1 class="display-4">Sapiam</h1>
  <p class="lead">singular, future subjunctive tense. 'I shall know'.</p>
  <hr class="my-4">
  <p>a hub of developers sharing resources, free API, guides, courses and schooling, attatched here. you and I can becomme wiser devs</p>
  <p class="lead">
    
  </p>
</div>
    </div>
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
      <div class="circle circle4"></div>
  </div>
</div>
